html, body {
  height: 100%;
  margin: 0;
}

.dictpage {
  background-color: black;
  min-height: 100%;
}

.dictdiv {
  padding: 15% 10%;
  font-family: 'Slabo 27px', serif;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.item-1 {
  font-size: 50px;
  align-self: flex-end;
}

.item-2 {
  font-size: 20px;
  align-self: flex-end;
  padding: 0 0 23px 20px;
}


li{
  font-size: 20px;
  margin: 10px;
}

h1, h2, h3, h4, h5 , ol{
  color: white;
  margin: 0;
}
